registry=https://registry.npmjs.org/
prefer-offline=false
node-linker=hoisted
supportedArchitectures.os=current,linux,darwin,win32
supportedArchitectures.cpu=current,x64,arm64
blockExoticSubdeps=false
